<h2>Details of <%= character.name %>
</h2>

<h3>Occupation: <%= character.occupation %>
</h3>

<p>Weapon: <%= character.weapon %>
</p>

<a href="/characters/<%=character.id %>/edit">Edit Character</a>

<form method="POST" action="/characters/<%= character.id %>/delete">
    <button type="submit">Delete Character</button>
</form>